body {
  background-color: gray;
}
#chess {
  background-color: sienna;
  margin: auto;
  height: 800px;
  margin-bottom: 10px;
  max-width: 50%;
  padding: 20px;
}
#chess__ {
  background-color: tan;
  height: 100%;
  width: 100%;
  margin: auto;
}
